.clsbtn {
    display: block;
    float: right;
    width: 20%;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    background: #333333;
    padding: 5px 5px;
    margin: 0 auto;
    border: 0;
    outline: none;
    cursor: pointer;
  }