.footer {
    .wrap {
      position: relative;
        text-align: center;
        max-width: 1450px;
        margin: 0 auto;
        padding: 2.0rem 1.0rem;
    
    h4 {
        font-size: 3.0rem;
        color:  #DFCDB1;
        font-family: 'Caveat', cursive;
        font-weight: 700;

    }

    .social {
        margin-top: 25px;
    }
    .social-icons {
        text-align: center;
        }  
      .social-icons li {
        display:inline-block;
        list-style-type:none;
        -webkit-user-select:none;
        -moz-user-select:none;
        }
      .social-icons li a {
        border-bottom: none;
        }
      .social-icons li img {
        width:60px;
        height:60px;
        margin-right: 20px;
      }
    }

}