.homepage {
    height: calc(100% - 6.5rem - 5.8rem);
    max-width: 1450px;
margin: 0 auto;
.welcometxt {
    text-align: center;
    font-size: 6rem;
    font-weight: 700;
    font-style: italic;
    color: #DFCDB1;
    margin-top: 50px;
}

.story {
    margin-top: 50px;
    text-align: center;
h4,p {
    text-align: left;
    margin: 5px;
}
}

}

